-# ヘッダー
.header
  .header__inner
    .header__inner__title
      %a.title(href="") XeoryExtension
    .header__inner__menuy
      .header__inner__menuy__sample
        %a.sample(href="#") 記事ページサンプル
      .header__inner__menuy__download
        %a.download(href="#") Extensionをダウンロード

-# タイトル
.main-title
  .main-title__conteiner
    %h1.title Xeory Extension
    %p.title Xeory Extensionはワンコラムのサイト型テーマです。ユーザーに対して重要なコンテンツを効率的に届けられるようにデザインされています。５種類のカラーバリエーションを用意しています。

-# 人気のある記事
.main-content
  .main-content__article.articlebottom
    .main-content__article__background
    .main-content__article__top
      = icon('fa','flag', class: "article")
      %h4.article 人気のある記事
    .main-content__article__under
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number.one NO.1
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number.two NO.2
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number.three NO.3
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number.four NO.4
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number.five NO.5
          %p.color カテゴリー#5
          %p.text テスト投稿

-# 最近の投稿
.main-content
  .main-content__article
    .main-content__article__background
    .main-content__article__top
      = icon('fa','clock', class: "article")
      %h4.article 最近の投稿
    .main-content__article__under.underbottom
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#5
          %p.text テスト投稿
    .main-content__article__background

-# XeoryExtensionの特徴
.main-feature
  .main-feature__head
    =icon("fa","check", class: "feature")
    %h3.feature XeoryExtensionの特徴
    %p.feature feature

  -# モバイルレスポンシブ
  .main-feature__responsive
    .main-feature__responsive__message
      %p.number 1
      %h2.responsive モバイルレスポンシブ
      %p.responsive Mobile Responsive
      %p.text Xeory Extensionはレスポンシブデザインを採用しています。スマートフォンやタブレットなど各種デバイスで表示が最適化されます。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "macbook-at-the-coffee-shop.jpg", class: "responsive"

  -# HTML5デザイン
  .main-feature__responsive.reverse
    .main-feature__responsive__message.sidemargin
      %p.number 2
      %h2.responsive HTML5デザイン
      %p.responsive HTML5 Design
      %p.text Xeory Extensionは最新のHTML5言語でデザイン及びコーディングがなされています。時代遅れのソースからは卒業しましょう。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "two-coffee-at-the-shop.jpg", class: "responsive"

  -# SEO最適化
  .main-feature__responsive
    .main-feature__responsive__message
      %p.number 3
      %h2.responsive SEO最適化
      %p.responsive Search Engine Optimized
      %p.text Xeory ExtensionはGoogleのSEOガイドラインに可能な限り沿った構造になっています。必要なのは良質なコンテンツだけです。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "imac-glasses-desk.jpg", class: "responsive"

  -# 高いカスタマイズ性
  .main-feature__responsive.reverse
    .main-feature__responsive__message.sidemargin
      %p.number 4
      %h2.responsive 高いカスタマイズ性
      %p.responsive Customizable
      %p.text Xeory Extensionはカスタマイズフリーです。CSS, HTML, PHP の知識があれば自由にカスタマイズすることができます。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "macbook-holding.png", class: "responsive"

-# サービスの紹介
.main-service
  .main-service__head
    =icon("fa","heart", class: "service")
    %h3.service サービス紹介
    %p.service service
  .main-service__inner
    .main-service__inner__content
      %h1.Customize Xeoryカスタマイズ
      %p.Customize Xeory Customize
      =link_to "#", class: "Customize" do
        カスタマイズ事例を見る
    .main-service__inner__line
    .main-service__inner__content
      %h1.Consulting コンサルティング
      %p.Consulting Consulting
      =link_to "#", class: "Consulting" do
        コンサルティング事例を見る
    
-# 会社紹介
.main-company
  .main-company__head
    =icon("fa","phone", class: "company")
    %h3.company 会社紹介
    %p.company company
  .main-company__inner
    .main-company__inner__overview
      %p.corporation 
        %span.overview 会社名 
        %span 株式会社ルーシー
      %p.phone
        %span.phone 電話番号
        %span.number 03-1111-2222
      %p.address
        %span.address 住所
        %span 東京都港区西新橋２-７-４ CJビル11階
    .main-company__inner__map
      %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4149206972006!2d139.75167691528728!3d35.666784138371504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188becbbb525c7%3A0x8ee3d7c4e8731e7a!2z5qCq5byP5Lya56S-44Or44O844K344O8!5e0!3m2!1sja!2sjp!4v1589619755560!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

-# お問い合わせ
.main-inquiry
  .main-inquiry__head
    =icon("fa","phone", class: "inquiry")
    %h3.inquiry お問い合わせ
    %p.inquiry inquiry
  .main-inquiry__inquiry
    %p.name お名前 (必須)
    %input.name(type="text")/
    %p.mail メールアドレス (必須)
    %input.mail(type="text")/
    %p.title 題名
    %input.title(type="text")/
    %p.message メッセージ本文
    %textarea.message
    .main-inquiry__inquiry__btn
      %button.inquiry 送信
-# スクロールボタン
=link_to "#", class: "topbtn" do
  .main-inquiry__topbtn
    =icon("fa","angle-up", class: "topbtn")

-# フッター
.footer
  .footer__inner
    .footer__inner__title
      %h3.title XeoryExtension
    .footer__inner__container
      .footer__inner__container__menu
        .footer__inner__container__menu__blog
          %p.blog ブログコンテンツ
          %ul.blog
            %li.sample
              =icon("fa","angle-right", class: "sample")
              =link_to "#", class: "sample" do
                記事ページサンプル
            %li.download
              =icon("fa","angle-right", class: "download")
              =link_to "#", class: "download" do
                Extensionをダウンロード
        .footer__inner__container__menu__media
          %p.media ソーシャルメディア
          %ul.media
            %li.twitter
              =link_to "#", class: "twitter" do
                =icon("fa","twitter", class: "twitter")
                Twitter
            %li.facebook
              =link_to "#", class: "facebook" do
                =icon("fa","facebook-square", class: "facebook")
                Facebook
            %li.google
              =link_to "#", class: "google" do
                =icon("fa","google", class: "google")
                Google+
            %li.rss
              =link_to "#", class: "rss" do
                =icon("fa","rss-square", class: "rss")
                Feedly
      .footer__inner__container__facebook
        .fb-page{"data-adapt-container-width" => "true", "data-height" => "170", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/BazuBu/?epa=SEARCH_BOX", "data-show-facepile" => "false", "data-small-header" => "true", "data-tabs" => "timeline", "data-width" => "610"}
 




  .footer__logo
    %p.logo © Copyright 2020 XeoryExtension. All rights reserved.