-# ヘッダー
.header
  .header__inner
    .header__inner__title
      %a.title(href="") XeoryExtension
    .header__inner__menuy
      .header__inner__menuy__sample
        %a.sample(href="#") 記事ページサンプル
      .header__inner__menuy__download
        %a.download(href="#") Extensionをダウンロード

-# タイトル
.main-title
  .main-title__conteiner
    %h1.title Xeory Extension
    %p.title Xeory Extensionはワンコラムのサイト型テーマです。ユーザーに対して重要なコンテンツを効率的に届けられるようにデザインされています。５種類のカラーバリエーションを用意しています。

-# 人気のある記事
.main-content
  .main-content__article.articlebottom
    .main-content__article__background
    .main-content__article__top
      = icon('fa','flag', class: "article")
      %h4.article 人気のある記事
    .main-content__article__under
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number.one NO.1
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number.two NO.2
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number.three NO.3
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number.four NO.4
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number.five NO.5
          %p.color カテゴリー#5
          %p.text テスト投稿

-# 最近の投稿
.main-content
  .main-content__article
    .main-content__article__background
    .main-content__article__top
      = icon('fa','clock', class: "article")
      %h4.article 最近の投稿
    .main-content__article__under.underbottom
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#5
          %p.text テスト投稿
    .main-content__article__background

-# XeoryExtensionの特徴
.main-feature
  .main-feature__head
    =icon("fa","check", class: "feature")
    %h3.feature XeoryExtensionの特徴
    %p.feature feature

  -# モバイルレスポンシブ
  .main-feature__responsive
    .main-feature__responsive__message
      %p.number 1
      %h2.responsive モバイルレスポンシブ
      %p.responsive Mobile Responsive
      %p.text Xeory Extensionはレスポンシブデザインを採用しています。スマートフォンやタブレットなど各種デバイスで表示が最適化されます。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "macbook-at-the-coffee-shop.jpg", class: "responsive"

  -# HTML5デザイン
  .main-feature__responsive.reverse
    .main-feature__responsive__message.sidemargin
      %p.number 2
      %h2.responsive HTML5デザイン
      %p.responsive HTML5 Design
      %p.text Xeory Extensionは最新のHTML5言語でデザイン及びコーディングがなされています。時代遅れのソースからは卒業しましょう。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "two-coffee-at-the-shop.jpg", class: "responsive"

  -# SEO最適化
  .main-feature__responsive
    .main-feature__responsive__message
      %p.number 3
      %h2.responsive SEO最適化
      %p.responsive Search Engine Optimized
      %p.text Xeory ExtensionはGoogleのSEOガイドラインに可能な限り沿った構造になっています。必要なのは良質なコンテンツだけです。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "imac-glasses-desk.jpg", class: "responsive"

  -# 高いカスタマイズ性
  .main-feature__responsive.reverse
    .main-feature__responsive__message.sidemargin
      %p.number 4
      %h2.responsive 高いカスタマイズ性
      %p.responsive Customizable
      %p.text Xeory Extensionはカスタマイズフリーです。CSS, HTML, PHP の知識があれば自由にカスタマイズすることができます。
      = link_to "#", class: "responsive" do
        詳しく見る
    .main-feature__responsive__img
      = image_tag "macbook-holding.png", class: "responsive"

-# サービスの紹介
.main-service

-# 会社紹介
.main-company

-# お問い合わせ
.main-inquiry

-# フッター
.footer