!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Copy01
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "sp.css", :media => "screen and (max-width: 500px)", :rel => "stylesheet"}/
    %link{:href => "pc.css", :media => "screen and (min-width: 1000px)", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/4379f15b38.js"}
    #fb-root
    %script{:async => "", :crossorigin => "anonymous", :defer => "defer", :src => "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0"}
  %body
    = yield
